@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --container-width: 1200px;
}

html{
    scroll-behavior:smooth;
    font-size:100%;
    overflow-x:hidden;
}

body{

    font-family:'Poppins',sans-serif;

    overflow-x:hidden;

    background:#ffffff;

}

#root{

    width:100%;

}