.envelope-screen{
    width:100%;
    height:100vh;
    background:#1d1b20;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.envelope-image{

    width:700px;
    max-width:90%;

    cursor:pointer;

    transition:.5s;
}

.envelope-image:hover{

    transform:scale(1.04);

}

.tap-text{

    color:#D4AF37;

    margin-top:30px;

    letter-spacing:6px;

    font-size:18px;

    animation:blink 1.2s infinite;

}

@keyframes blink{

0%{opacity:.2;}
50%{opacity:1;}
100%{opacity:.2;}

}